:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-32: #323232;
  --color-blue: #007FA7;
  --color-blue-92: #006F92;

  --font-family-noto-sans: 'Noto Sans Condensed', sans-serif;
  --font-family-play: 'Play', sans-serif;

  --container-width: 1400px;
  --container-padding-x: 16px;
}
