.about-card {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.about-card__description {
  max-width: 565px;
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card__image {
  padding-top: 30px;
  padding-right: 30px;
  border-radius: 6px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 30px;
    width: 802px;
    height: 391px;
    background-color: var(--color-blue);
    opacity: 0.2;
  }
}
