.advantages {
  min-height: 308px;

  @include mobile {
    min-height: 596px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 55px 0;
  background-color: var(--color-white);
  background-image: url('../../images/advantages/advantages_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
