.footer {
  background-color: var(--color-black-32);
  color: var(--color-white);
  padding: 25px 0;
}

.footer__inner {
  display: grid;
  row-gap: 18px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer__contacts-link {
  opacity: 0.5;
  border-bottom: 1px dashed var(--color-white);
}

.footer__bottom {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.footer__copyright {
  opacity: 0.5;
  margin-right: auto;
}

.footer__email {
  display: block;
  opacity: 0.5;
}
