.header {
  color: var(--color-black);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding-block: 25px;
}

.header__logo {
  display: block;
  width: 172px;
  height: 51px;
}

.header__menu {
  @include laptop {
    display: none;
  }
}

.header__burger-button {
  @include square(30px);

  @include laptop-above {
    display: none;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;

  @include mobile-m {
    display: none;
  }
}

.header__contacts-body {
  display: grid;
  row-gap: 4px;
}

.header__contacts-phone {
  position: relative;
  padding-left: 36px;
  min-height: 22px;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../icons/phone.svg');

    @include square(24px);

    top: 0;
    left: 0;
  }
}

.header__contacts-link {
  padding: 3px;
  opacity: 0.5;
  border-bottom: 1px dashed var(--color-black-32);
}
