.industries-card {
  display: grid;
  row-gap: 10px;
}

.industries-card--active {
  color: var(--color-blue);
}

.industries-card__image {
  @include square(80px);

  justify-self: center;
}

.industries-card__link {
  display: block;
  text-align: center;
}
