.product-card {
  max-width: 445px;
  min-height: 300px;
  color: var(--color-white);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.product-card__content {
  display: grid;
  row-gap: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
}

.product-card__link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
