.promo {
  width: 100%;
  min-height: 979px;
  background-image: url("../../images/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__body {
  width: 100%;
  color: var(--color-white);
  display: grid;
  row-gap: 24px;
  padding-top: 300px;

  @include mobile {
    padding-top: 161px;
  }
}

.promo__title {
  max-width: 803px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include mobile-s {
    font-size: 26px;
  }
}

.promo__description {
  max-width: 683px;
}

.promo__button {
  justify-self: start;
}
